form#pizza-order {
  display: block;
  margin-bottom: 5px;
}

.checkboxes {
  text-align: center;
}

.checkboxes input{
  margin: 0px 0px 0px 0px;
}

.checkboxes label{
  margin: 0px 20px 0px 3px;
}

#show-pizza {
  display: none;
}

#recipt {
  display: none;
}