h1 {
  text-align: center;
}

body {
  background-color: yellow;
  font-size: 24px;
}

.jumbotron {
  background-color: orange;
}

.card {
  background-color: red;
  color: white;
  padding: 14px;
  margin: 20px;
}

.checkboxes {
  float: left;
}

.checkboxes label{
  margin: 10px 20px 10px 3px;
}

#show-pizza, #pizza-list, #recipt, #pickup-info, #delivery-info, #delivery-OTW {
  display: none;
}